{{#each posts}}
  <article class='article'>
    <h2 class='article__title'>
      {{#if slug}}
        <a href="/post/{{slug}}.html" title='{{title}}'>{{title}}</a>
      {{else}}
        <a href="/post/{{cid}}.html" title='{{title}}'>{{title}}</a>
      {{/if}}
    </h2>

    <div class='article__meta'>{{authorName}}&nbsp;•&nbsp;{{createdAt}}</div>

    <div class='article__excerpt'>{{{excerpt}}}</div>

    <div class='article__more'>
      {{#if slug}}
        <a href="/post/{{slug}}.html" title='{{title}}'>- 阅读全文 -</a>
      {{else}}
        <a href="/post/{{cid}}.html" title='{{title}}'>- 阅读全文 -</a>
      {{/if}}
    </div>
  </article>
{{/each}}
