{{#each posts}}
  <article class='article'>
    <h2 class='article__title'>
      {{#if slug}}
        <a href="/blog/{{slug}}.html" title='{{title}}'>{{title}}</a>
      {{else}}
        <a href="/blog/{{cid}}.html" title='{{title}}'>{{title}}</a>
      {{/if}}
    </h2>

    <p>
      <small>{{authorName}}&nbsp;•&nbsp;{{createdAt}}</small>
    </p>

    <p>{{{excerpt}}}</p>

    <p class='article__more'>
      {{#if slug}}
        <a href="/blog/{{slug}}.html" title='{{title}}'>- 阅读全文 -</a>
      {{else}}
        <a href="/blog/{{cid}}.html" title='{{title}}'>- 阅读全文 -</a>
      {{/if}}
    </p>
  </article>
{{/each}}
