<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="{{charset}}">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="">
  <meta name="keywords" content="{{keywords}}" />
  <meta name="generator" content="{{generator}}" />
  <meta name="template" content="{{theme}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/public/default/img/favicon.ico" />
  <link rel="stylesheet" href="/public/default/css/default.css">
</head>

<body>
<header class="header">
  <h1 class='header__logo'>
    <a href='/'>
      <span>远子</span>
      <span class='heart'>💖</span>
      <span>Vina</span>
    </a>
  </h1>
</header>

<aside class="aside">
  <img class="aside__logo" src="/public/default/img/avatar.jpeg">
  <p><a href="/about-rmlzy.html">远子</a>: 一只程序猿 🐒</p>
  <p><a href="/about-vina.html">Vina</a>: 一只产品汪 🐶</p>
  <p>我们有一个可爱的<a href="/about-tian.html">宝宝</a>~</p>
</aside>

<nav class="nav">
  <ul>
    {{#each pages}}
      <li>
        <a href='/{{slug}}.html'>@{{title}}</a>
      </li>
    {{/each}}
  </ul>
</nav>

<main class='main'>{{{body}}}</main>

<footer class='footer'>© 2019-2021, 鲁ICP备20009856号</footer>
</body>
